{% extends 'base.html' %}
{% load static %}
{% block title %}TEST 1{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/test1.css' %}">
{% endblock %}
{% block content %}

<section class="h-100 bg-dark m-4 border-secondary p-4 rounded-3 shadow-lg">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                alt="Sample photo" class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">Student registration form</h3>
            <!-- form start from here -->
<form action="{% url 'test1' %}" method="POST">
    {% csrf_token %}
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input required type="text" id="form3Example1m" name="fname" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1m">First name</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input required type="text" id="form3Example1n" name="lname" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1n">Last name</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input required type="text" id="form3Example1m1" name="mom" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1m1">Mother's name</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input required type="text" id="form3Example1n1" name="father" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1n1">Father's name</label>
                    </div>
                  </div>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input required type="text" id="form3Example8" name="address" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example8">Address</label>
                </div>

                <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

                  <h6 class="mb-0 me-4">Gender: </h6>

                  <div class="form-check form-check-inline mb-0 me-4">
                    <input required class="form-check-input" type="radio" name="gender" id="femaleGender"
                      value="female" />
                    <label class="form-check-label" for="femaleGender">Female</label>
                  </div>

                  <div class="form-check form-check-inline mb-0 me-4">
                    <input required class="form-check-input" type="radio" name="gender" id="maleGender"
                      value="male" />
                    <label class="form-check-label" for="maleGender">Male</label>
                  </div>

                  <div class="form-check form-check-inline mb-0">
                    <input required class="form-check-input" type="radio" name="gender" id="otherGender"
                      value="other" />
                    <label class="form-check-label" for="otherGender">Other</label>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-6 mb-4">

                    <!-- <select data-mdb-select-init>
                      <option value="1">State</option>
                      <option value="2">Uttar Pradesh</option>
                      <option value="3">Jharkhand</option>
                      <option value="4">Bihar</option>
                    </select> -->
<select name="state" class="form-select">
    <option value="" selected disabled>Select State</option>
    <option value="Uttar Pradesh">Uttar Pradesh</option>
    <option value="Jharkhand">Jharkhand</option>
    <option value="Bihar">Bihar</option>
</select>

                  </div>
                  <div class="col-md-6 mb-4">

                    <select class="form-select" name="city">
                      <option value="" selected disabled>City</option>
                      <option value="ranchi">Ranchi</option>
                      <option value="maharajganj">Maharajganj</option>
                      <option value="siwan">Siwan</option>
                    </select>

                  </div>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input required type="date"  placeholder="YYYY-MM-DD" pattern="\d{4}-\d{2}-\d{2}" id="form3Example9" name="dob" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example9">DOB</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input required type="text" id="form3Example90" name="pincode" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example90">Pincode</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input required type="text" id="form3Example99" name="course" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example99">Course</label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input required type="text" id="form3Example97" name="email" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example97">Email ID</label>
                </div>

                <div class="d-flex justify-content-end pt-3">
                  <button  type="reset" data-mdb-button-init data-mdb-ripple-init class="btn btn-light btn-lg">Reset all</button>
                  <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-warning btn-lg ms-2">Submit form</button>
                </div>
</form>
    <!-- Form Ends Here -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}